@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.test {
    color: black;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

button {
    height: 30px;
    width: 80px;
    padding: 10px;
    border: 4px black;
    margin: 10px;
}