@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 4px;
    margin: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

button {
    height: 30px;
    width: 80px;
    padding: 3px;
    border: 4px solid black;
    margin: 0px;
    color: black;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 1000;
}