@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 4px;
    margin: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: black;
}

button {
    height: 30px;
    width: 80px;
    padding: 3px;
    border: 4px outset white;
    margin: 10px;
    color: white;
    background-color: rgb(56, 64, 71);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 1000;
}